<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/stylesheets/styles.css" type="text/css">
    <title>Mustwatch</title>
</head>

<body>
    <header>
        <h1>Must<span>watch</span></h1>
    </header>

    <main>
        <section>
            <section class="form">
                <input id="titleInput" type="text" id="titleInput"
                    placeholder="Add new movie you want to watch"></input>
            </section>
        </section>
        <section id="future">
            <h2>Movies to watch in the future</h2>
            <ul id="futureList" class="list">
            </ul>
        </section>
        <section id="history">
            <h2>Movies I have already watched</h2>
            <ul id="historyList" class="list">
            </ul>
        </section>
    </main>

    <script src="/public/javascripts/index.js"></script>

</body>

</html>