body {
  background: lightgrey;
}

#movieInput {
  min-width: 300px;
}

ul {
  list-style-type: none;
}

.isWatched {
  text-decoration: line-through;
}

pre {
  display: inline-block;
  margin-right: 10px;
}

.deleteBtn {
  border-radius: 50%;
  background: darkgrey;
  color: pink;
  padding: 3px 6px;
  opacity: 0.7;
}

.deleteBtn:hover {
  color: red;
  cursor: pointer;
  opacity: 1;
}




